@use "../utils/placeholders";
@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/mixins" as mx;

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px;
  background-color: fn.get-color("dark-secondary");
  width: 100%;
  border-bottom: fn.get-color("light-tertiatry") 1px solid;

  @include mx.mq("lg") {
    grid-area: header;
    padding: 24px 36px;
    justify-content: space-between;
    .btn-header {
      display: none;
    }
  }
}
